.EmojiList {
  font-size: 1rem;
  width: 100%; }
  .EmojiList .emoji-list__row {
    align-items: center;
    border-top: 1px solid #bbb;
    display: flex;
    justify-content: space-between;
    padding: 1em; }
    .EmojiList .emoji-list__row:hover {
      background-color: #eee;
      cursor: pointer; }
    .EmojiList .emoji-list__row:hover .click-instructions {
      opacity: 1; }
  .EmojiList .click-instructions {
    color: #888;
    font-size: 1em;
    opacity: 0; }
    @media (min-width: 30em) {
      .EmojiList .click-instructions {
        font-size: 1.2em; } }
  .EmojiList .info {
    align-items: center;
    display: flex; }
  .EmojiList .symbol {
    font-size: 1.4em;
    padding-right: 0.3em; }
  .EmojiList .title {
    font-size: 1.1em; }
