/***********************************************************************
* File that contains variables that components van utilize.
*
* This is what the import will look like for most component/*.scss files
* @import "../../stylesheets/variables.scss";
***********************************************************************/
.App {
  color: #333;
  max-width: 100%; }
  .App h1 {
    margin-bottom: 0;
    text-align: center; }
